<style>
/* Estilos para los elementos */
</style>
<h1>Lista de links</h1>
<div>
    <ul>
        {{!-- <li><a href="http://localhost:8080/users/">users</a></li>
        <li><a href="http://localhost:8080/products/">products</a></li>
        <li><a href="http://localhost:8080/carts/">carts</a></li> --}}
        <li><a href="http://localhost:8080/messages/">messages</a></li>
        {{!-- <li><a href="http://localhost:8080/multer/">multer</a></li> --}}
        <li><a href="http://localhost:8080/realtimeproducts/">realtimeproducts</a></li>
    </ul>
</div>